body {
    padding: 0;
    margin: 0;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 18px;
    padding: 5vw;
    display: flex;
    align-items: center;
    background: #ADA7FF;
}

::selection {
    background: #ffb7b7;
}

a {
    color: #504b99;
}

#page {
    max-width: 880px;
    margin: 0 auto;
}

/* Typography clamp styles documentation:
/* https://css-tricks.com/linearly-scale-font-size-with-css-clamp-based-on-the-viewport/ */
h1 {
    font-weight: 700;
    font-style: italic;
    font-size: clamp(1.8rem, 0.5538rem + 6.2308vw, 3.6rem);
    margin: 0 0 30px;
    line-height: 1.1;
}

p {
    line-height: 1.5;
}

input,
select,
.button,
button {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1rem;
    -webkit-appearance: none;
    border-radius: 0;
    background: #fff;
    color: #000;
    border: 2px solid #333;
    padding: 10px;
}

.button {
    font-weight: 700;
    cursor: pointer;
    background: #FFE8BF;
    border: 2px solid #333;
    padding: 10px 20px;
    margin: 20px 0;
}

.button:hover {
    border-color: #000;
}

mark {
    font-weight: 700;
    background: transparent;
    border-bottom: 2px solid #000;
}

#link,
#copy-link {
    font-size: 0.85rem;
}

#link {
    margin-right: 10px;
}

@media (min-width: 768px) {
    #link { width: 445px; }
}

#wage {
    max-width: 140px;
    padding-left: 25px;
}

.currency {
    position: absolute;
    display: block;
    transform: translate(0, -50%);
    top: 50%;
    left: 10px;
    color: #333;
}

.fields-row {
    display: block;
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}

#result-section {
    display: none;
}

#result-box {
    margin-top: 10px;
    border-top: 4px solid #000;
    border-bottom: 4px solid #000;
}

.result-wrap {
    display: block;
    font-weight: 700;
    font-size: 2.2rem;
}